<div class="profile-info-container">
  <img [src]="user.avatar" [alt]="user.name"/>
    <div class="profile-info">
      <div class="profile-info-info">
        <h2>{{user.name}}</h2>
        <div class="profile-info-stats">
          <h3><b>{{user.followers}}</b> Seguidores</h3>
          <h3><b>{{user.following}}</b> Seguindo</h3>
          <h3><b>{{user.postsCount}}</b> Publicações</h3>
        </div>
      </div>
      <div class="profile-info-actions">
        <button mat-raised-button color="primary">Seguir</button>
        <button mat-raised-button color="primary" disabled>Mensagem</button>
      </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="profile-posts">
  <div *ngFor="let post of userPosts">
    <app-post [post]="post"></app-post>
  </div>
</div>
