<div class="profile-info-container">
  <!-- <img [src]="user.avatar" [alt]="user.name"/> -->
    <ngx-avatar [name]="user.username" size="200"></ngx-avatar>
    <div class="profile-info">
      <div class="profile-info-info">
        <h2>{{user.name}}</h2>
        <div class="profile-info-stats">
          <h3><b>{{user.followers}}</b> Seguidores</h3>
          <h3><b>{{user.following}}</b> Seguindo</h3>
          <h3><b>{{user.postsCount}}</b> Publicações</h3>
        </div>
      </div>
      <div class="profile-info-actions" *ngIf="isNotUser()">
        <button id="follow-action" mat-raised-button color="primary" *ngIf="followStatus == false" (click)="followUser()">Seguir</button>
        <button id="unfollow-action"mat-raised-button color="warn" *ngIf="followStatus == true" (click)="unfollowUser()">Deixar de Seguir</button>
        <button mat-raised-button color="primary" disabled>Mensagem</button>
      </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="profile-posts">
  <div *ngFor="let post of userPosts">
    <app-post [post]="post"></app-post>
  </div>
</div>
