<div class="profile-info-container">
<img src="assets/avatar.png" alt="avatar"/>
  <div class="profile-info">
    <div class="profile-info-info">
      <h2>Sasuke Uchiha</h2>
      <div class="profile-info-stats">
        <h3><b>34</b> Seguidores</h3>
        <h3><b>22</b> Seguindo</h3>
        <h3><b>754</b> Publicações</h3>
      </div>
    </div>
    <div class="profile-info-actions">
      <button mat-raised-button color="primary">Seguir</button>
      <button mat-raised-button color="primary">Mensagem</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="profile-posts">
  <app-post [post]="mockPost1"></app-post>
  <app-post [post]="mockPost2"></app-post>
</div>
