<div class="header">
  <mat-toolbar color="primary">
    <div class="title">
      <a href="/dashboard">
        <mat-icon>explore</mat-icon>
        <span>Eventyse</span>
      </a>
    </div>
    <form id="filter-form" (ngSubmit)="searchPosts()">
      <input id="filter-input" *ngIf="isLoggedIn" type="text" class="search" placeholder="Pesquisar por #Tag" [formControl]="searchFilterControl">
      <input type="submit" hidden />
    </form>
    <button id="avatar-action" *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <!-- <img [src]="loggedAvatar" alt="Avatar"> -->
      <ngx-avatar [name]="loggedUsername" size="40"></ngx-avatar>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button id="avatar-profile-action" mat-menu-item [routerLink]="['profile', { id: loggedUsername }]">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button disabled mat-menu-item>
        <mat-icon>map</mat-icon>
        <span>Meus Roteiros</span>
      </button>
      <button disabled mat-menu-item>
        <mat-icon>bookmark</mat-icon>
        <span>Roteiros Salvos</span>
      </button>
      <button disabled mat-menu-item>
        <mat-icon>message</mat-icon>
        <span>Mensagens</span>
      </button>
      <button disabled mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </button>
      <button mat-menu-item (click)="logOff()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
