<div class="header">
  <mat-toolbar color="primary">
    <div class="title">
      <a href="/dashboard">
        <mat-icon>explore</mat-icon>
        <span>Eventyse</span>
      </a>
    </div>
    <input *ngIf="isLoggedIn" type="text" class="search" placeholder="Pesquisar por #Tag">
    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img src="assets/palmirinha.png" alt="Avatar">
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>map</mat-icon>
        <span>Meus Roteiros</span>
      </button>
      <button mat-menu-item>
        <mat-icon>bookmark</mat-icon>
        <span>Roteiros Salvos</span>
      </button>
      <button mat-menu-item>
        <mat-icon>message</mat-icon>
        <span>Mensagens</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </button>
      <button mat-menu-item (click)="logOff()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
