:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .create-post-btn {
    position: fixed;
    border-radius: 100px;
    height: 65px;
    width: 65px;
    right: 25px;
    bottom: 25px;
  }

  .toggle-posts {
    position: fixed;
    left: 50px;
    top: 100px;

    > a {
      cursor: pointer;

      &:hover {
        color: #43a047;
      }

      &:visited {
        color: unset;
      }

      &.active {
        color: #43a047;
      }
    }
  }
}
