<div class="signup-container">
  <h2>Cadastro</h2>
  <form class="signup-form" [formGroup]="signupFromGroup" (ngSubmit)="signUp()">

    <!-- <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
      <img [src]="imageURL" [alt]="signupFromGroup.value.name">
    </div>

    <input hidden formControlName="avatar" type="file" accept="image/*" #file (change)="showPreview($event)">
    <button mat-raised-button color="primary" (click)="file.click()">Upload file</button> -->

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Usuário</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Usuário">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Nome">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Senha">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!signupFromGroup.valid">Cadastrar</button>

    <p>Já possui uma conta? <a routerLink="/login">Entre.</a></p>
  </form>
</div>
