:host {
  display: flex;
  align-items: center;
  justify-content: center;

  .create-post-form {
    display: flex;
    flex-direction: column;
  }

  .create-post-container {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    text-align-last: center;
  }

  p {
    font-size: x-small;
    align-self: center;
  }

  button {
    margin: 10px 0;
  }

  mat-slide-toggle {
    margin-bottom: 10px;
  }
}
