<div class="create-post-container">
  <h2>Nova Postagem</h2>
  <form class="create-post-form" [formGroup]="createPostFromGroup" (ngSubmit)="createPost()">

    <app-map (outCoordinates)="setCoordinates($event)"></app-map>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Nome">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" placeholder="Descrição"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Tags" formControlName="tags">
        <mat-chip
          *ngFor="let tag of tags"
          (removed)="remove(tag)">
          {{tag}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Adicionar tag..."
          #fruitInput
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!createPostFromGroup.valid">Salvar</button>
  </form>
</div>
