
:host {
  width: 300px;

  .map-container {
    height: 300px;
    margin: 1em 0;
  }

  .map-frame {
    height: 100%;
  }

  #map {
    height: 100%;
  }

  .leaflet-container {
    border: none;
    border: solid 1px #ccc;
    border-radius: 20px;
  }
}
