<div class="container">
  <div class="title">
    <a class="post-author-link"  [routerLink]="['/profile', { id: post.author.username }]">
      <!-- <img [src]="" alt="Avatar"> -->
      <ngx-avatar [name]="post.author.username"></ngx-avatar>
    </a>
    <h1>{{post.title}}</h1>
  </div>
  <div class="description">
    <h3>{{post.description}}</h3>
  </div>
  <div class="createDate">
    {{post.creationDate}}
  </div>
  <app-map [markers]="getPostMarkers()" [readonly]="true"></app-map>
  <div class="tags">
    <div class="tags-tags"><span *ngFor="let tag of post.tags">#{{tag}}</span></div>
    <div class="tags-likes">
      <button mat-icon-button [class.favorite]="isFavorite" (click)="setFavorite()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button class="like-action" mat-icon-button [class.liked]="isLiked" (click)="setLiked()">
        <mat-icon>thumb_up</mat-icon>
      </button>
        {{post.countLike}}
      <button class="dislike-action" mat-icon-button [class.disliked]="isDisliked" (click)="setDisliked()">
        <mat-icon>thumb_down</mat-icon>
      </button>
      {{post.countDislike}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let comment of post.comments" class="comment-container">
    <div class="comment">
      <!-- <img [src]="" alt="Avatar"> -->
      <div class="comment-details">
        <ngx-avatar [name]="comment.author"></ngx-avatar>
        <div class="comment-comment">
          <div>
            <span class="comment-author">
              <a class="comment-author-link" [routerLink]="['/profile', { id: comment.author }]">{{comment.author}}</a>
            </span>
            <span class="comment-createDate">{{comment.createDate}}</span>
          </div>
          <span class="comment-description">{{comment.comment}}</span>
        </div>
      </div>
      <button class="delete-comment-action" mat-icon-button *ngIf="myComment(comment)" (click)="deleteComment(comment)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="comment-form">
    <input class="comment-input" matInput placeholder="Escreva um comentário" [formControl]="commentControl">
    <button class="comment-action" mat-icon-button (click)="comment()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
